@import "interfaceMainInterface.css";
@import "test.css";
@import "starmap.css";
@import "planetInterface.css";
@import "MESSAGES.css";


body {
	background-color: hsl(240,50%,75%);
	
	/*font-family: "Copperplate", fantasy, "Lucida Console", monospace;*/
	font-family: 'Kdam Thmor Pro';
	
	color: hsl(180,100%,80%);

	margin: 0px;
	padding: 0px;

	/*display: flex;*/
	justify-content: center;
	/*align-content: space-around;*/
	flex-wrap: wrap;	
}

.interfaceTopBar{}

.interfaceWindow{}

.interfaceBottomBar{}

.interfaceBackgroundCover{
	padding:0px;
	margin:0px;
	position:fixed;
	width:100%;
	height:100%;
	
	

}
#underInterfaceBackgroundStars{
	background-image: url("../RESOURCES/MAIN_INTERFACE/Background stars_2.png");
	background-position: 0px, 0px;
}
#underInterfaceBackgroundGrid{
	background-image: url("../RESOURCES/MAIN_INTERFACE/Background honeycombTransparent_2.png");
	background-position: -20px, 0px;
	opacity: 0.15;
}
#overInterfaceBackgroundCover{
	visibility:visible;
	background-color: black;
}
