
.mainInterfaceTopBarElement{
	border: solid black 2px;
	
}

.mainInterfaceButton{
	width: 250px;
	
	min-height:150px;
	
	text-align: center;
	vertical-align: bottom;
	align-content: center;
	
	box-sizing: border-box;
	border: solid hsla(180,75%,75%,0.75) 1px;
	outline: solid hsla(180,75%,75%,0.7	5) 2px;
	
	background: hsla(240,25%,25%,0.25);
	
	margin: 15px;
}
.mainInterfaceButton .mainInterfaceButtonImage{
	border-bottom: solid hsla(180,75%,75%,0.75) 0px;
}
.mainInterfaceButton .mainInterfaceButtonText{
	border-top: solid hsla(180,75%,75%,0.75) 1px;
}


.mainInterfaceButton:hover{
	font-style: bold;
	
	box-sizing: border-box;
	border: solid hsla(180,75%,75%,1) 1px;
	outline: solid hsla(180,75%,75%,1) 3px;
	background: hsla(240,25%,30%,0.4);
}
.mainInterfaceButton:hover .mainInterfaceButtonImage{
	border-bottom: solid hsla(180,75%,75%,1) 0px;
}
.mainInterfaceButton:hover .mainInterfaceButtonText{
	
	padding-top: 4px;
	border-top: solid hsla(180,75%,75%,1) 2px;
	box-shadow: 0 -1px 0 hsla(180,75%,75%,1);
	
	color: hsla(180,100%,80%,1);
}

.mainInterfaceBlankSpace{
	width: 250px;
	
	min-height:150px;
	box-sizing: border-box;
	border: solid hsla(180,75%,75%,0.0) 2px;
	
	margin: 15px;
}

.mainInterfaceButtonImage{
	width:50%;
	height:auto;
	object-fit: contain;

	position: relative;
}
.mainInterfaceButtonText{
	display: block;
	bottom: 0px;
	height: 20%;
	position: relative;
	
	color: hsla(180,100%,80%,0.75);
	
	padding: 5px;
}

#mainInterfaceTopBar{
	background: rgba(0,0,100,0.5);
	text-align: center;
	
	margin: 0px;
	margin-bottom: 1%;
	padding: 0px;
	
	position: fixed;
	width:100%;
	min-height: 75px;
	
	display: flex;
	
	justify-content: center;
}

#mainInterfaceWindow{
	background: linear-gradient(180deg, hsla(180,75%,75%,1) 1%, hsla(240,25%,25%,0.25) 5%, hsla(240,25%,25%,0.25) 95%, hsla(180,75%,75%,1) 99%);
	border: solid hsla(180,75%,75%,1) 3px;
	
	top:MAX(10%,100px);
	bottom: MAX(8%, 80px);
	
	width: 80%;
	max-width: 1200px;
	min-width:600px;
	max-height:600px;
	
	margin: auto;
    left: 0;
    right: 0;
	
	position: fixed;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	flex:1;
	
	overflow:auto;
}
#mainInterfaceWindow::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
#mainInterfaceBottomBar{
	background: red;
	text-align: center;
	margin:0px;
	padding: 0px;
	
	position: fixed;
	bottom: 0px;
	width:100%;
	height:5%;
	min-height:30px;
}


#mainInterfaceTopBarLeft{
	margin: 10px;
	background: gray;
	width: 25%;
}
#mainInterfaceTopBarMiddle{
	margin: 10px;
	background: blue;
	width: 40%;
}
#mainInterfaceTopBarRight{
	margin: 10px;
	background: white;
	width: 25%;
}

