
.mainInterfaceTopBarElement{
	margin:0px;
	padding: 15px;
	
	position:relative;
}
.mainInterfaceBottomBarElement{
	margin:0px;
	padding: 15px;
	
	position:relative;
}

.mainInterfaceButton{
	width: 250px;
	
	min-height:150px;
	
	text-align: center;
	vertical-align: bottom;
	align-content: center;
	
	padding-top: 1px;
	padding-bottom: 1px;
	
	box-sizing: border-box;
	border: solid hsla(180,100%,75%,1) 1px;
	outline: solid hsla(180,100%,75%,1) 2px;
	border-radius:0px;

	background: hsla(210,100%,75%,0.05);
	
	margin: 15px;
	
	cursor: pointer;
}
.mainInterfaceButton .mainInterfaceButtonImage{
	border-bottom: solid hsla(180,100%,75%,0.75) 0px;
	opacity: 0.75;
}
.mainInterfaceButton .mainInterfaceButtonText{
	border-top: solid hsla(180,100%,75%,0.75) 1px;
}


.mainInterfaceButton:hover{
	font-style: bold;
	
	padding-top: 0px;
	padding-bottom: 0px;
	
	margin-bottom:15px;
	border-radius:1px;
	
	box-sizing: border-box;
	border: solid hsla(180,100%,85%,1) 2px;
	outline: solid hsla(180,100%,75%,1) 3px;
	background: hsla(210,100%,0%,0.25);
	
	
}
.mainInterfaceButton:hover .mainInterfaceButtonImage{
	border-bottom: solid hsla(180,100%,75%,1) 0px;
	opacity: 1.0;
}
.mainInterfaceButton:hover .mainInterfaceButtonText{
	
	padding-top: 4px;
	border-top: solid hsla(180,100%,75%,1) 2px;
	box-shadow: 0 -1px 0 hsla(180,100%,75%,1);
	
	color: hsla(180,100%,80%,1);
}

.mainInterfaceBlankSpace{
	width: 250px;
	
	min-height:150px;
	box-sizing: border-box;
	border: solid hsla(180,75%,75%,0.0) 2px;
	
	margin: 15px;
}

.mainInterfaceButtonImage{
	width:150px;
	height:auto;
	object-fit: contain;

	position: relative;
	pointer-events: none;
	
}
.mainInterfaceButtonText{
	display: block;
	bottom: 0px;
	height: 20%;
	position: relative;
	
	color: hsla(180,100%,80%,0.75);
	
	padding: 5px;
	pointer-events: none;
}

.interfaceBarText{
	pointer-events: none;
}
.interfaceBarDynamicText{
	color: hsla(0,0%,100%,1);
}
.interfaceBarDimmedText{
	color: hsla(0,0%,100%,0.5);
}
.interfaceBarText{
	pointer-events: none;
}
.interfaceBarPositiveText{
	color: hsla(120,100%,65%,1);
}
.interfaceBarNegativeText{
	color: hsla(0,100%,65%,1);
}
.interfaceBarWarningText{
	color: hsla(60,100%,65%,1);
}



#mainInterfaceTopBar{
	background: rgba(0,0,100,0.0);
	text-align: center;
	
	margin: 0px;
	margin-bottom: 1%;
	padding: 0px;
	
	position: fixed;
	width:100%;
	
	min-height: 100px;
	
	display: flex;
	
	justify-content: center;
}

#mainInterfaceWindow{
	/*background: linear-gradient(180deg, hsla(180,75%,75%,1) 1%, hsla(240,25%,25%,0.25) 5%, hsla(240,25%,25%,0.25) 95%, hsla(180,75%,75%,1) 99%);
	border: solid hsla(180,75%,75%,1) 3px;*/
	
	top: MAX(10%,120px);
	bottom: MAX(10%, 120px);
	
	width: 80%;
	max-width: 1200px;
	min-width:600px;
	max-height:75%;
	padding-top: 25px;
	padding-bottom: 50px;
	
	margin: auto;
	margin-bottom: 0px;
	margin-top: 0px;
    left: 0;
    right: 0;
	
	position: fixed;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	flex:1;
	
	overflow:auto;
	
	mask-image: linear-gradient(180deg,hsla(0,100%,100%,0.0) 0px, hsla(0,100%,100%,1) 5%, hsla(0,100%,100%,1) 90%,hsla(0,100%,100%,0.0) 100%)
}
#mainInterfaceWindow::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


#mainInterfaceBottomBar{
	background: rgba(0,0,100,0.0);
	text-align: center;
	
	margin:0px;
	margin-top:1%;
	padding: 0px;
	
	position: fixed;
	width:100%;
	
	bottom: 0px;
	
	min-height:100px;
	max-height:100px;
	
	display: flex;
	justify-content: center;
}


#mainInterfaceTopBarLeft{
	background-image: url("../RESOURCES/MAIN_INTERFACE/TopBar_Left.png");
	background-position: right;
	
	padding-bottom: 25px;
	padding-right: 90px;
	padding-left:30px;
	
	text-align: left;
	
	box-sizing: border-box;
	
	height: 100px;
	width: 400px;
	right:0px;
	
	z-index:0;
}
#mainInterfaceTopBarMiddle{
	background-image: url("../RESOURCES/MAIN_INTERFACE/TopBar_Middle.png");
	
	left: 0;
    right: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	
	width: max(calc(100% - 800px), 200px);
	z-index:5;
}
#mainInterfaceTopBarRight{
	background-image: url("../RESOURCES/MAIN_INTERFACE/TopBar_Right.png");
	background-position: left;
	
	padding-bottom: 25px;
	padding-right: 30px;
	padding-left: 90px;
	
	text-align: right;
	
	box-sizing: border-box;
	
	height: 100px;
	width: 400px;	
	left: 0px;
	z-index:1;
}

#mainInterfaceBottomBarLeft{
	background-image: url("../RESOURCES/MAIN_INTERFACE/BottomBar_Left_3.png");
	background-position: right;
	
	padding-top: 40px;
	padding-right: 90px;
	padding-left:30px;
	
	text-align: left;
	
	box-sizing: border-box;
	
	height: 100px;
	width: 400px;
	right:0px;
	
	z-index:0;
}
#mainInterfaceBottomBarMiddle{
	background-image: url("../RESOURCES/MAIN_INTERFACE/BottomBar_Middle_3.png");
	
	left: 0;
    right: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	
	width: max(calc(100% - 800px), 200px);
	z-index:5;
}
#mainInterfaceBottomBarRight{
	background-image: url("../RESOURCES/MAIN_INTERFACE/BottomBar_Right_3.png");
	background-position: left;
	
	padding-bottom: 0px;
	padding-top: 25px;
	padding-right: 0px;
	padding-left: 90px;
	
	text-align: right;	
	
	box-sizing: border-box;
	
	height: 100px;
	width: 400px;	
	left: 0px;
	z-index:1;
}

#mainInterfaceBottomTextContainer{
	height:100%;
	
	display: flex;
    justify-content: center;
    align-items: center;
}
#mainInterfaceBottomText{
    
}

#mainInterfaceWindowHomeImage{
	width: 75px;
	opacity: 0.75;
	
	pointer-events: auto;
	cursor: pointer;
}
#mainInterfaceWindowHomeImage:hover{
	opacity: 1;
	scale: 1.1;
}
#mainInterfaceWindowSettingsShortcutImage{
	height:100%;
	opacity: 0.75;
	padding-top: 5px;
	
	pointer-events: auto;
	cursor: pointer;
}
#mainInterfaceWindowSettingsShortcutImage:hover{
	opacity: 1;
	scale: 1.1;
}

