#planetOverview{
background-color: hsl(240,100%,25%);
text-align: center;
min-width: 500px;
max-width: 75%;
margin: 0 auto;
}

#planetImage{
background-color: hsl(240,100%,15%);
max-width: 90%;
margin: 0 auto;
}

#planetInfo{
background-color: hsl(200,100%,50%);
max-width: 90%;
margin: 0 auto;
}

#planetResources{
background-color: hsl(280,100%,50%);
max-width: 90%;
margin: 0 auto;
}
